<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myInsuranceLabel">Create or edit a Insurance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!insurance.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="insurance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="insurance.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_groupId">Group Id</label>
            <input type="text" class="form-control" name="groupId" id="field_groupId"
                [(ngModel)]="insurance.groupId" required />
            <div [hidden]="!(editForm.controls.groupId?.dirty && editForm.controls.groupId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.groupId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_individualId">Individual Id</label>
            <input type="text" class="form-control" name="individualId" id="field_individualId"
                [(ngModel)]="insurance.individualId" required />
            <div [hidden]="!(editForm.controls.individualId?.dirty && editForm.controls.individualId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.individualId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_patient">Patient</label>
            <select class="form-control" id="field_patient" name="patient" [(ngModel)]="insurance.patient" required>
                <option *ngIf="!editForm.value.patient" [ngValue]="null" selected></option>
                <option [ngValue]="patientOption.id === insurance.patient?.id ? insurance.patient : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.patient?.dirty && editForm.controls.patient?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.patient?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
